body {
  margin: 0;
  box-sizing: border-box;
}

.MuiMobileStepper-dot {
  width: 6px !important;
  height: 6px !important;
  margin: 0 1.7px !important;
}

.MuiCollapse-wrapperInner,
.MuiCollapse-wrapper,
.MuiCollapse-root {
  display: inline !important;
}
